@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap');


*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
.header{
    text-align: center;
    padding: 32px;
    background-color: #f1f1f1;

}

.header h1{
    font-family: 'Scaramento';
    font-size: 50px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 100px 100px 100px;
}

.col{
    flex: 33.33%;
    max-width: 25%;
}