@font-face {
    font-family: 'Scaramento';
    src: url(./font/Sacramento-Regular.ttf);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    /* gap: 50px; */
}
.navbar .icon img{
    width: 200px;
}
.header{
    text-align: center;
    padding: 32px;
    background-color: #f1f1f1;

}

.header h1{
    font-family: 'Scaramento';
    font-size: 50px;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 100px 100px 100px;
    gap: 20px;
}

.col{
    flex: 33.33%;
    max-width: 25%;
}